<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521322567116-ghdis3cuigqisutktlock21p9cvtl47h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521322567116-ghdis3cuigqisutktlock21p9cvtl47h</string>
	<key>API_KEY</key>
	<string>AIzaSyBn0EgBAnkP5-rLKEJK5mDXeHQejmj4ze0</string>
	<key>GCM_SENDER_ID</key>
	<string>521322567116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.bite</string>
	<key>PROJECT_ID</key>
	<string>bite-e6dbe</string>
	<key>STORAGE_BUCKET</key>
	<string>bite-e6dbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521322567116:ios:eeaffe13f52818cdd2b969</string>
</dict>
</plist>